@import "base/variables";
@import "base/mixins";

* {
  font-family: "Museo Sans Cyrl", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container {
  max-width: 950px;
  margin: 0 auto;
  width: 95%;
}

@import "blocks/promo";
@import "blocks/header";
@import "blocks/buttons";
@import "blocks/advantages";
@import "blocks/title";
