.promo {
  min-height: 650px;
  padding: 21px 0 93px 0;
  background-image: url("../img/main.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include phones {
    min-height: 450px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 90px;

    @include tablets {
      align-items: center;
    }
    @include phones {
      margin-top: 60px;
    }
  }

  &__header {
    font-size: 42px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 1;

    @include tablets {
      font-size: 36px;
    }
    @include phones {
      font-size: 24px;
    }
  }
  &__subheader {
    margin-top: 17px;
    font-size: 24px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 1;

    @include tablets {
      font-size: 20px;
    }
    @include phones {
      font-size: 12px;
    }
  }
  &__icons {
    margin-top: 65px;
    width: 425px;
    display: flex;
    justify-content: space-between;
    @include phones {
      width: 300px;
      margin-top: 40px;
    }
  }

  &__icon {
    width: 108px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;

    @include phones {
      width: 90px;
      font-size: 10px;
    }

    img {
      display: block;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }
  &__link {
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    margin-top: 18px;
    @include phones {
      font-size: 14px;
    }
    a {
      color: #ffffff;
      text-decoration: underline;
      text-transform: uppercase;
      &:hover {
        color: $main-color;
        text-decoration: none;
      }
    }
  }
}
